<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <title>VITCInfo</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <center><h1><u>Vitamin Coin</u></h1></center>
    <center><p class="desc">What is VITC?<br>Vitamin Coin (VITC) is a token on the VITE blockchain. It was created in 2021 by a VITE
        enthusiast, 1appleaday, who sought to raise awareness about health within the
        cryptocurrency space. While VITC started small, it now has a dedicated community focused on living
        healthily, both mentally and physically. Unlike many other cryptocurrencies which are
        focused on financial value, VITC seeks to build and cultivate something that gives
        personal value. This is the central guiding principle of our project and community
        developments</p></center>
</body>
</html>